---
import Layout from '../layouts/Layout.astro'
import data from '../data/products.json'
import Card from '../components/Card.astro';
import type { Producto } from '../types/types';

const products = data as Producto[];
---

<Layout title='Dulcesol'>
  <main class='text-white pt-20'>
    <section>
      <article class="flex flex-row items-center gap-4 flex-wrap justify-around w-full">
        {
          products.map((product) => (
			<Card producto={product} />
          ))
        }
      </article>
    </section>
  </main>
</Layout>

<style></style>
