<footer
  class='bg-gray-100 flex flex-col font-extralight text-xs mt-5 pb-10'
>
  <div class='bg-gray-200 w-full h-20'></div>
  <div class="flex flex-row w-full justify-around pt-10 justify-items-center	">
    <section class='flex flex-col'>
      <img src='/logo.png' alt='Logo de Dulcesol' class='w-32' />
      <div class='flex flex-col gap-1'>
        <p>Av. d'Alacant, 134</p>
        <p>46702 Gandia</p>
        <p>València</p>
        <p class='mt-5'>🗺️ ¿Cómo llegar?</p>
      </div>
    </section>
    <section class="">
      <ul class='flex flex-col gap-2 text-sm font-light'>
        <li>Vicky Foods</li>
        <li>Únete a nuestro equipo</li>
        <li>Política de Privacidad</li>
        <li>Términos y Condiciones de Uso</li>
        <li>Cookies</li>
        <li class='font-bold'>Distribuidores - Extranet</li>
      </ul>
    </section>
    <section class=" basis-1/5">
      <div class='flex flex-col gap-2 text-sm font-extralight'>
        <p class='font-bold'>BASES LEGALES</p>
        <p class='font-light'>Bases legales promociones</p>
        <p class='font-extralight'>
          Bases legales sorteo Kings League + Queens League
        </p>
      </div>
    </section>
  </div>
</footer>
