---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='min-h-screen bg-no-repeat'>
    <Header />
    <main class='max-w-7xl px-4 mx-auto'>
      <slot />
    </main>
  </body><style is:global>
    :root {
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: Canvas;
	  /* background-image: url('/cabecera_carrito.jpg') ; */
      color: CanvasText;
      color-scheme: light dark;
    }
  </style>
</html>
